const Config = {
    user: "testservice",
    password: "testservice",
    secretOrKey: "secret", // Used in server, don't need to change
    services : [
      {
        friendlyName : "VPN",
        serviceName : "openvpn",
      },
      {
        friendlyName : "Nginx Server",
        serviceName : "nginx",
      },   
    ]
  };
  
module.exports = Config;