// Create Schema
const Config = {
    email: "test@service.com",
    password: "testservice",
    secretOrKey: "secret",
    services : [
      {
        friendlyName : "VPN",
        serviceName : "openvpn",
      },
      {
        friendlyName : "VPN",
        serviceName : "openvpn",
      },
      {
        friendlyName : "VPN",
        serviceName : "openvpn",
      },      
    ]
  };
  
  module.exports = Config;
  