// Create Schema
const Config = {
    email: "test@service.com",
    password: "testservice",
    friendlyName : "VPN",
    serviceName : "openvpn",
    secretOrKey: "secret",
  };
  
  module.exports = Config;
  